{% extends 'gestureApp/base.html' %}
{% block content %}
  {% comment %} {% if request.user.is_authenticated %}
  <a href="{% url 'gestureApp:logout' %}">Logout</a>
  <a href="{% url 'gestureApp:profile' %}">Profile</a>
  {% else %}
  <a href="{% url 'gestureApp:login' %}">Log In</a>
  <a href="{% url 'gestureApp:register' %}">Register</a>
  {% endif %} {% endcomment %}

  <div id="app">
      <App/>
  </div>
  
{% endblock content %}
{% block javascript %}
  <script src="https://unpkg.com/http-vue-loader"></script>
  {% load static %}
  <script src="{% static 'gestureApp/js/home.js' %}"></script> 
{% endblock javascript %}