{% extends "gestureApp/base.html" %}
{% load static %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'gestureApp/css/login.css' %}">
    {% comment %} {% if register %}
        <!-- Go back to Login -->
        <a href="{% url 'gestureApp:login' %}">Back</a>
    {% else %}
        <!-- Go to registration page -->
        <a href="{% url 'gestureApp:register' %}">Register</a>
    {% endif %}
    <h2>{{ title }}</h2> {% endcomment %}

    <!-- From to start session -->
    <form method="POST">
        {% csrf_token %}
        <div class="imgcontainer">
            <img src="{% static 'gestureApp/img/img_avatar2.png' %}" alt="Avatar" class="avatar">
        </div>
        <div class="container">
            {{ form.as_p }}

            <input type="hidden" name="next" value="{% url 'gestureApp:profile' %}"/>
            <button type="submit">Login</button>
            {% comment %} <label> {% endcomment %}
            {% comment %} <input type="checkbox" checked="checked" name="remember"> Remember me {% endcomment %}
            {% comment %} </label> {% endcomment %}
        </div>
        {% comment %} {{ form }} {% endcomment %}
        {% comment %} <button type="submit">Submit</button> {% endcomment %}
    </form>
    <p>{{ txt }}</p>
{% endblock content %}

{% block javascript %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
{% endblock javascript %}
