{% extends "gestureApp/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    {% comment %} <link rel="stylesheet" type="text/css" href="{% static 'gestureApp/css/login.css' %}"> {% endcomment %}
    <h1 class="text-center">Login</h1>
    <!-- From to start session -->
    <div class="container">
        <form method="POST">
            {% csrf_token %}
            {% comment %} <div class="imgcontainer">
                <img src="{% static 'gestureApp/img/img_avatar2.png' %}" alt="Avatar" class="avatar">
            </div> {% endcomment %}
                {{ form|crispy }}
                {% comment %} {{ form.as_p }} {% endcomment %}

                <input type="hidden" name="next" value="{% url 'gestureApp:profile' %}"/>
                <button type="submit" class="btn btn-primary btn-block">Login</button>
        </form>
    </div>
    <p>{{ txt }}</p>
{% endblock content %}

{% block javascript %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
{% endblock javascript %}
