{% extends 'gestureApp/base.html' %}
{% load static %}
{% block css %}
<link href="{% static 'gestureApp/css/video-js.css' %}" rel="stylesheet" />
{% endblock %}
{% block content %}
<div id="app">
    <App/>
</div>
{% endblock content %}
{% block javascript %}
{{ exp_code|json_script:"exp_code" }}
<script src="https://unpkg.com/http-vue-loader"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.5.207/pdf.min.js" integrity="sha512-Vvbhrrw9oPzjTUUbw+bw/P1mMW9NW2H21DhoajJW69XzOBhICUlI5rywBcy7SI8Y5Dc9v+oIe5lXwQX0PauUCA==" crossorigin="anonymous"></script>
<script type="text/javascript" src="{% static 'gestureApp/js/dist/video.min.js' %}"></script>
<script type="text/javascript" src="{% static 'gestureApp/js/dist/vue-video-player.js' %}"></script>
<script type="text/javascript">
  Vue.use(window.VueVideoPlayer)
</script>
<script src="{% static 'gestureApp/js/preparation_screen.js' %}"></script> 
{% endblock %}